<div class="navbar">
  <a href="http://127.0.0.1:5000/backp">Profile</a>
  <div style="float:right" class="subnav">
  <button class="subnavbtn">Bills <i class="fa fa-caret-down"></i></button>
   <div class="subnav-content">
  <a href="http://127.0.0.1:5000/bill">Upload</a>
  <a href="http://127.0.0.1:5000/bdetails">Details</a>
  </div>
  </div>
  <div style="float:right" class="subnav">
    <button class="subnavbtn">Student <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="http://127.0.0.1:5000/signup">Signup</a>
      <a href="http://127.0.0.1:5000/sdetails">Details</a>
      <a href="http://127.0.0.1:5000/sattendance">Attendance</a>
      <a href="http://127.0.0.1:5000/student_remove">Remove</a>
      <a href="http://127.0.0.1:5000/feedback">Feedback</a>
    </div>
  </div> 
  <div style="float:right" class="subnav">
    <button class="subnavbtn">Employee <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="http://127.0.0.1:5000/esignup">Add</a>
      <a href="http://127.0.0.1:5000/edetails">Details</a>
      <a href="http://127.0.0.1:5000/eattendance">Attendance</a>
      <a href="http://127.0.0.1:5000/employee_remove">Remove</a>
    </div>
  </div> 
  <div style="float:right" class="subnav">
    <button class="subnavbtn">Room <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="http://127.0.0.1:5000/rdetails">Details</a>
    </div>
  </div>
  <div style="float:right" class="subnav">
    <button class="subnavbtn">Mess <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="http://127.0.0.1:5000/add">Add recepie</a>
      <a href="http://127.0.0.1:5000/recipe_remove">Remove recepie</a>
      <a href="http://127.0.0.1:5000/fdetails">Show recepie</a>
      <a href="http://127.0.0.1:5000/schedule">Schedule</a>
    </div>
  </div>
</div>
<body>
  <form action="" method="POST">
<center><div class="form-row">
        <label for="">Userid</label>
        <input type="text" name="uid" placeholder="userid">
 </div> 
<div class="form-row">
        <button onclick="location.href='profile.html';">Remove</button>
</div></center>   </form>

</body></html>
